.testimonies {
	position: absolute;
	top: 1763px;
	left: calc(50% - 172px);
	line-height: 120%;
}
.cream-gallery {
	position: absolute;
	top: 145px;
	left: calc(50% - 234px);
	letter-spacing: 0.1em;
	line-height: 120%;
}
.frame-child {
	position: absolute;
	top: 320px;
	left: 90px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	object-fit: cover;
}
.frame-item {
	position: absolute;
	top: 320px;
	left: 410px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	object-fit: cover;
}
.frame-inner {
	position: absolute;
	top: 320px;
	left: 730px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	object-fit: cover;
}
.frame-icon {
	position: absolute;
	top: 320px;
	left: 1050px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	object-fit: cover;
}
.frame-child1 {
	position: absolute;
	top: 640px;
	left: 90px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	object-fit: cover;
}
.frame-child2 {
	position: absolute;
	top: 640px;
	left: 410px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	object-fit: cover;
}
.frame-child3 {
	position: absolute;
	top: 1280px;
	left: 730px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	object-fit: cover;
}
.frame-child4 {
	position: absolute;
	top: 1280px;
	left: 1050px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	object-fit: cover;
}
.group-child {
	position: absolute;
	top: 0px;
	left: calc(50% - 650px);
	border-radius: var(--br-51xl);
	background-color: var(--color-midnightblue);
	width: 1300px;
	height: 250px;
}
.group-item {
	position: absolute;
	top: 50px;
	left: calc(50% - 650px);
	border-radius: var(--br-51xl);
	background-color: var(--color-lightgoldenrodyellow);
	width: 1300px;
	height: 200px;
}
.tried-one-scoop {
	position: absolute;
	top: 120px;
	left: 255px;
	line-height: 120%;
	font-weight: 500;
	color: var(--color-black);
	display: flex;
	align-items: center;
	width: 972px;
}
.image-icon {
	position: absolute;
	top: 75px;
	left: 68px;
	border-radius: var(--br-131xl);
	width: 150px;
	height: 150px;
	object-fit: cover;
}
.the-cone {
	position: absolute;
	top: 15px;
	left: 68px;
	line-height: 120%;
	display: flex;
	align-items: center;
	width: 175px;
}
.b {
	position: absolute;
	top: 15px;
	left: 1052px;
	letter-spacing: 0.2em;
	line-height: 120%;
	display: flex;
	text-align: right;
	align-items: center;
	width: 175px;
}
.rectangle-parent {
	width: 1300px;
	position: relative;
	height: 250px;
}
.i-didnt-choose {
	position: absolute;
	top: 105px;
	left: 255px;
	line-height: 120%;
	font-weight: 500;
	color: var(--color-black);
	display: flex;
	align-items: center;
	width: 972px;
}
.group-child2 {
	position: absolute;
	top: 75px;
	left: 68px;
	border-radius: var(--br-131xl);
	width: 150px;
	height: 150px;
	overflow: hidden;
	object-fit: cover;
}
.enak-bgt-ampe {
	position: absolute;
	top: 135px;
	left: 255px;
	line-height: 120%;
	font-weight: 500;
	color: var(--color-black);
	display: flex;
	align-items: center;
	width: 972px;
}
.group-parent {
	position: absolute;
	top: 1962px;
	left: calc(50% - 650px);
	width: 1300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--gap-31xl);
	text-align: left;
	font-size: var(--font-size-6xl);
	font-family: var(--font-montserrat);
}
.frame-child5 {
	position: absolute;
	top: 960px;
	left: 90px;
	width: 620px;
	height: 620px;
	overflow: hidden;
	object-fit: cover;
}
.frame-child6 {
	position: absolute;
	top: 640px;
	left: 730px;
	width: 620px;
	height: 620px;
	overflow: hidden;
	object-fit: cover;
}
.line1 {
	position: absolute;
	top: calc(55% - 107px);
	left: calc(50% - 635px);
	background-color: var(--color-lightgoldenrodyellow);
	width: 1270px;
	height: 2px;
}
.line2 {
	position: absolute;
	top: calc(55% - 67px);
	left: calc(50% - 580px);
	background-color: var(--color-lightgoldenrodyellow);
	width: 1160px;
	height: 1px;
}
.gallery {
	position: relative;
	line-height: 120%;
	color: var(--color-darkolivegreen);
	align-items: center;
	justify-content: center;
}
.testimonies-parent {
	width: 100%;
	position: relative;
	background-color: var(--color-darkolivegreen);
	height: 3200px;
	overflow: hidden;
	text-align: center;
	font-size: var(--font-size-81xl);
	color: var(--color-lightgoldenrodyellow);
	font-family: var(--font-cherish);
}


footer{
	background-color: #E8FFCE; 
	padding: 30px 70px 30px 70px;
	color: #172161; 
	font-family: var(--font-montserrat);
	height: 200px;
	display: flex;
  }
	
  .footer-left {
	justify-content: space-between;
  }
	.store-info {
	  display: flex;
	  gap: 30px; 
	  margin: 50px 0 50px 0;
	}
	.store-location p {
	  margin: 0;
	  width: 250px;
	}
  
  .footer-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 80%;
	padding: 100px 0px 30px 0; 
  }  
	.social-media {
	  display: flex;
	  gap: 10px;
	  align-items: center;
	  margin:0;
	}
	.social-media img {
	  width: 20px;
	  height: 20px;
	}
		
.footlink {
	color: #172161;
	transition: color 0.3s;
	font-style: italic;
}    
.footlink:hover {
	color: var(--color-darkolivegreen);
	text-decoration: underline;
}
.footlink img {
	transition: transform 0.3s ease;
}
.footlink img:hover {
	transform: scale(1.2); 
}
