body {
    margin: 0;
    line-height: normal;
    padding-top: 0px;
}

:root {
    
    /* fonts */
    --font-montserrat: Montserrat;
    --font-cherish: Cherish;
    
    /* font sizes */
    --font-size-5xl-8: 24.8px;
    --font-size-3xl-2: 22.2px;
    --font-size-6xl: 25px;
    --font-size-81xl: 100px;
    --font-size-11xl: 30px;
    --font-size-131xl: 150px;
    
    /* Colors */
    --color-darkolivegreen: #7f7956;
    --color-midnightblue: #172161;
    --color-lightgoldenrodyellow: #e8ffce;
    --color-black: #000;
    
    /* Gaps */
    --gap-31xl: 50px;
    
    /* Border radiuses */
    --br-131xl: 150px;
    --br-51xl: 70px;
    
}